h1 {color: rgb(144, 0, 248); text-align: center; font-family: cursive; font-weight: 800;}
nav {background-color: black;}
.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    height: 100vh; /* occupy full viewport height */
    gap: 1rem; /* spacing between the buttons */
}

button {
    /* Background Gradient & Text Color */
    background-image: linear-gradient(45deg, #E5E7EB, #D1D5DB);
    color: #1F2937;

    /* Padding & Font */
    padding: 0.75rem 2rem;
    font-family: 'SF Pro Text', 'SF Pro Icons', 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif;
    font-weight: 600;
    text-align: center;

    /* Rounded Corners */
    border-radius: 99px;

    /* Hover Styles */
    transition: background-color 0.3s, color 0.3s;
    flex-basis: 50%; /* to ensure they take up equal width in two rows */
}

button:hover {
    background-image: linear-gradient(45deg, #ff0707, #0062ff);
    color: white;
}

button:active {
    background-image: linear-gradient(45deg, #C7CED9, #EFEFEF);
}


@media (max-width: 600px) {
    button {
        flex-basis: 100%; /* let buttons stack on top of each other on smaller screens */
    }
}







